@import "./utils/index";
@import "./layout/index";
@import "./pages/index";
@import "./components/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #F2F2F2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: sans-serif ;
  font-size: 16px;
}


::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb{
  background-color: $fair;
  border-radius: 5px;
}

